################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CommonAlgorithm/.vs/CommonAlgorithm/v16
/CommonAlgorithm/CommonAlgorithm/obj
/CommonAlgorithm/Common.ArrayAndString/obj
/CommonAlgorithm/CommonAlgorithm/bin/Debug/netcoreapp3.1
/CommonAlgorithm/Common.ArrayAndString
